.container{
  width: 1000px;
}
.row{
  margin-left: 0px;
}
 .okay{
  height: 300px;
}
.twocurrent{
  border:2px solid white;
  background-color: green;
  width: 150px;
  height: 100px;
  text-align: center;
}
/* .game{
  display: none;
} */
#roll{
  margin-left: 150px;
}
#hold{
  margin-left: 250px;
}
.onecurrent{
  border:2px solid white;
  background-color: green;
  width: 150px;
  height: 100px;
  text-align: center;
}
.buttons{
  margin-left: 220px;
}
input[type=button]{
  background-color: pink;
  padding: 12px 20px;:  width: 120px;
  border-radius: 5px;
  height: 40px;

}
body{
  background-color: orange;
  background-image:url('../img/406913.jpg');
  background-size:cover;
  player1-image:url('../img/gm.jpg')
}
